.idea/
.vscode/
.DS_STORE

vendor/
composer.json
composer.lock
_ide_helper.php

.env

/storage/*.index
/storage/*.index-journal

/public/uploads/

database/migrations/test
database/migrations/*.php
database/seeds/*TableSeeder.phprr
.rr.yaml
